<ion-toolbar no-border-top style="background-color: white;">
  <ion-grid>
    <ion-row>
      <ion-col style="min-width: 25%;" class="vertical-align-content">
        <div style="display: inline-block;height: 100%; vertical-align: middle;" >
          <img src="../../assets/imgs/logo_420.png" class="top-logo-img" (click)="onSelectPage(0)">
        </div>
      </ion-col>
      <ion-col>
        <button class="top-tab" (click)="onSelectPage(1)">
          <div>
            <img src="../../assets/imgs/top_icon1.png" class="top-item-img"><br>
            <label>Dispensary</label>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="top-tab" (click)="onSelectPage(2)">
          <div>
            <img src="../../assets/imgs/top_icon2.png" class="top-item-img"><br>
            <label>Strains</label>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="top-tab" (click)="onSelectPage(3)">
          <div>
            <img src="../../assets/imgs/top_icon3.png" class="top-item-img"><br>
            <label>Coupons</label>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="top-tab" (click)="onSelectPage(4)">
          <div>
            <img src="../../assets/imgs/top_icon4.png" class="top-item-img"><br>
            <label>Add Company</label>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
<ion-fab right top style="right:0px;top:77px;background-color: rgba(0,0,0,0.5);" *ngIf="logged_in">
  <button style="background-color: transparent;font-size: 1.2rem;padding:10px;padding-bottom: 5px;">
    <div style="color:white;" (click)="register()">
      <i class="fa fa-user" aria-hidden="true" style="color: rgb(239, 167, 32);"></i><br>
      Register
    </div>
  </button>
  <button style="background-color: transparent;font-size: 1.2rem;padding:10px;padding-bottom: 5px;">
    <div style="color:white;" (click)="login()">
      <i class="fa fa-sign-in" aria-hidden="true" style="color: rgb(239, 167, 32);"></i><br>
      Login
    </div>
  </button>
</ion-fab>
